@import url(https://fonts.googleapis.com/css?family=Lato:300italic,100italic,700);

html {
  position: relative;
  min-height: 100%;
  color: #fff;
}
body{
	background: -webkit-linear-gradient(#669933, #84b531); /* For Safari */
	background: -o-linear-gradient(#669933, #84b531); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#669933, #84b531); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#669933, #84b531); /* Standard syntax (must be last) */
	margin: 0px;
	/* Margin bottom by footer height */
  	margin-bottom: 100px;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;

}
.navbar-custom{
	background-color: #669933;
	border-color: white;
	min-height: 60px;
	border-width: 0 0 1px;
	border-radius: 0;
	margin-top: 10px;
}
.navbar-default .navbar-brand.logo{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 34px;
	font-style: italic;
	color: #fff;
}
.page-header-custom{
	margin: 0px 0 20px;
}
.text{
	color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #84b531;
  border-top: 1px solid #fff;
}
.road-bottom{
	margin-top: 15px;
	margin-bottom: 25px;
	width: 100%;
}
.img-size{
	margin-top: 40px;
	margin-bottom: 25px;
	width: 100%;
}
.appeal{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	font-style: bold;
}
.space{
	margin-top: 60px;
	margin-bottom: 30px;
}
.text-size{
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
}
.goal{
	font-family: 'Lato',sans-serif;
	line-height: 1.7;
	font-size: 18px;
	font-weight: 300;
	margin-top: 25px;
	margin-bottom: 54px; 
}
footer p{
	font-size: 13px;
	font-family: 'Lato';
	font-weight: 100;
	padding-top: 40px;
}
footer ul{
	padding-top: 25px;
}
