@import url(https://fonts.googleapis.com/css?family=Lato:100,300,300italic,100italic,700);
html {
  position: relative;
  min-height: 100%;
}
body > .container{
	    padding: 83px 15px 0;
}
body{
	background: #5d811d; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#5d811d, #84b531); /* For Safari */
	background: -o-linear-gradient(#5d811d, #84b531); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#5d811d, #84b531); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#5d811d, #84b531); /* Standard syntax (must be last) */
	margin: 0px;
	/* Margin bottom by footer height */
  	margin-bottom: 60px;
}
.navbar .navbar-nav>li{
	border: #e7e7e7 solid 1px;
	border-radius: 4px;
	width: 75px;
	margin-top: 15px;
	margin-right: 15px;
}

.navbar .navbar-nav>li>a{
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	padding: 3px 10px;
}
.white{
	color: #fff;
}
.navbar-custom{
	background-color: #5d811d;
	border-color: white;
	min-height: 60px;
	border-width: 0 0 1px;
	border-radius: 0;
}
.brand{
	margin-top: 6px;
}
.navbar .navbar-brand.logo{
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 48px;
	font-style: italic;
	color: #fff;
}
.container .visible-xs .nav>li{
	display: inline-block;
	margin-top: 3px;
	width: 67px;
	margin-right: 3px;

}
.container .visible-xs .nav>li>a{
	padding: 2px 0px;
}
.container .visible-xs .logo{
	font-weight: 300;
	font-size: 24px;
	float: none;
}

	/*Containerfile:///D:/Joe-maxi/img/road.jpg*/
.page-header-custom{
	margin-bottom: 20px;
	margin-top: 8px;
}
.page-header-custom h1{
	margin-bottom: 25px;
}

.road-bottom{
	width: 100%;
}
.img-size{
	margin-top: 40px;
	margin-bottom: 25px;
	width: 100%;
}
.video-size{
	width: 100%;
}
.appeal{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-style: bold;
	font-weight: 600;
}
.space{
	margin-top: 70px;
	margin-bottom: 40px;
}
.text-style{
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	margin-top: 25px;
	line-height: 1.6;
	text-align: justify;
}
.goal{
	 
}
.contact p{
	font-family: 'Lato',sans-serif;
	font-size: 18px;
	margin-top: 5px;
	color: #fff; 
}
.contact h3, h4{
	font-family: 'Lato',sans-serif;
	line-height: 1.7;
}
.contact h5{
	color: #c70947;
}
.mail{
	font-size: 2em;
    margin-top: 43px;
}
.mail a{
	color: #4500c7;
}
.mail a:hover{
	color: #337ab7;
}
.video-margin{
	margin-top: 33px;
}



	/*End container*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background-color: #2b4006;
  border-top: 1px solid #fff;
}
footer p{
	font-size: 12px;
	font-family: 'Lato',sans-serif;
	line-height: 1.1;
}
#icon{
	margin-top: 4px;
}
footer .social-icon>li>a{
	color: #2f78ea;
}
