#top-background{
	background: url(../img/Whistle2.png);
	min-height: 240px;
	background-size: cover;
	margin-bottom: 20px;
	background-position: center;
}
.link{
	margin-bottom: 13px; 
}
.app-link{
	background-color: #152364;
	border-color: #152364;
	border-radius: 0px;
	font-family: 'Arial', sans-serif;
}
.text{
	margin-bottom: 30px;
}
.down-link{
	background-color: #000002;
}
.install-link{
	font-family: 'Arial', sans-serif;
	height: 50px;
	padding-top: 14px;
}

.footer p{
	margin-top: 20px;
	color: #152364;
}
