@font-face {
    font-family: 'ArialBlack';
    src: url(../fonts/ariblk.ttf);
} 
body{
	font-family: 'ArialBlack';
}   
#top-background{
	background: url(../img/Whistle2.png);
	min-height: 240px;
	background-size: cover;
	margin-bottom: 20px;
	background-position: center;
}
#top-background img{
	width: 170px;
	padding-top: 60px;
}
#top-background p{
	color: white;
	font-size: 25px;
}
.link{
	margin-bottom: 13px; 
}
.app-link{
	background-color: #152364;
	border-color: #152364;
	border-radius: 0px;
}
.text{
	margin-bottom: 30px;
	font-size: 11px;
	font-weight: bold;
}
.down-link{
	background-color: #000002;
}
.install-link{
	height: 50px;
	padding-top: 14px;
}

.footer p{
	margin-top: 20px;
	color: #152364;
	font-size: 10px;
}
